# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**

- List popular languages for Data Science

- List commonly used libraries in Data Science

- Examples of arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL languages

#### Some of the commonly used libraries used by Data Scientists include:

##### Python libraries
1. Scikit-learn (Machine Learning and Deep learning)
2. Matplotlib (Visualization)
3. Pandas (Scientific Computing)

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio|
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author 
Tina Martin